body {
	overflow	: hidden;
	padding		: 0;
	margin		: 0;

	color		: #222;
	background-color: #BBB;
	font-family	: arial;
	font-size	: 100%;
}
#info .top {
	position	: absolute;
	top		: 0px;
	width		: 100%;
	padding		: 5px;
	text-align	: center;
}
#info a {
	color		: #66F;
	text-decoration	: none;
}
#info a:hover {
	text-decoration	: underline;
}
#info .bottom {
	position	: absolute;
	bottom		: 0px;
	right		: 5px;
	padding		: 5px;
}


/* DAT GUI */

.dg.main.taller-than-window .close-button {
    border-top: 1px solid #ddd!important;
}

.dg.main .close-button {
    background-color: #ccc!important;
}

.dg.main .close-button:hover {
    background-color: #ddd!important;
}

.dg {
    color: #555!important;
    text-shadow: none !important;
}

.dg.main::-webkit-scrollbar {
    background: #fafafa!important;
}

.dg.main::-webkit-scrollbar-thumb {
    background: #bbb!important;
}

div.dg li:not(.folder) {
    background: #e8e8e8!important;
    border-color: #dadada;
}

.dg li.save-row .button {
    text-shadow: none !important;
}

.dg li.title {
    background: #e8e8e8 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat!important;
}

.dg .cr.function:hover,.dg .cr.boolean:hover {
    background: #fff!important;
}

.dg .c input[type=text] {
    background: #f9f9f9!important;
}

.dg .c input[type=text]:hover {
    background: #eee!important;
}

.dg .c input[type=text]:focus {
    background: #eee!important;
    color: #555!important;
}

.dg .c .slider {
    background: #e9e9e9!important;
}

.dg .c .slider:hover {
    background: #eee!important;
}

/* Handsfree */
.handsfree-debugger {
  position: fixed !important;
  width: 250px;
  bottom: 0;
  right: 0;
}

.handsfree-debugger video {
  width: 100%;
  height: auto;
}

.handsfree-toggle-button {
  position: fixed;
  top: 0;
  height: 30px;
  padding: 20px;
  font-size: 20px;
  line-height: 15px;
  background: red;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  padding-top: 25%;
}

.handsfree-ready #loader {display: none}

.glitchButton {
  position: fixed !important;
  z-index: 9999;
  top: 0;
  right: 280px;
}